<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guli.edu.mapper.CourseMapper">
    <select id="getPublishCourseByCourseId" parameterType="string" resultType="map">
        select
            ec.id,
            ec.title,
            ec.cover,
            ec.lesson_num as lessonNum,
            CONVERT(ec.price,DECIMAL(8,2)) as price,
            et.`name` as teacherName,
            es1.title as subjectLevelOne,
            es2.title as subjectLevelTwo

        from edu_course ec
        LEFT JOIN edu_teacher et on et.id = ec.teacher_id
        LEFT JOIN edu_subject es1 on es1.id = ec.subject_parent_id
        LEFT JOIN edu_subject es2 on es2.id = ec.subject_id
        where ec.id = #{courseId}
    </select>
</mapper>
